{# SIE/DocumentBundle/Resources/views/form/result_document.html.twig #}

<div  id="bloc_resultat_document" ng-controller="result_document_controller">
    <b class="titreSection">Documents</b>
    <p id="lib_central_document" class="lib_central"></p>
    

    <br/>
    <br/>
    <br/>
<button ng-model="btn_ajout_document" id="btn_ajout_document" class="btn_ajout"  >
     {% image '@SIECoreBundle/Resources/public/images/btn_ajout.jpeg'
       %}
       <img  class="img-background-button"    src="{{ asset_url }}"  alt="AJout"/>
    {% endimage %}
    </button>
    
    <button ng-model="btn_sup_document" id="btn_sup_document" class="btn_sup"  >
     {% image '@SIECoreBundle/Resources/public/images/btn_supr.png'
       %}
       <img  class="img-background-button"    src="{{ asset_url }}"  alt="Supr"/>
    {% endimage %}
    </button>
    
    <br/>
    <button ng-model="btn_last_document" id="btn_last_document" class="btn_precedent" >
        {% image '@SIECoreBundle/Resources/public/images/btn_gauche.jpeg'
       %}
        <img  class="img-background-button"    src="{{ asset_url }}"  alt="Precedent"/>
        {% endimage %}       
    </button>
    
   
    
    <button ng-model="btn_modif_document" id="btn_modif_document" class="btn_modifier"  >
     {% image '@SIECoreBundle/Resources/public/images/btn_modif.jpeg'
       %}
       <img  class="img-background-button"    src="{{ asset_url }}"  alt="Modif"/>
    {% endimage %}
    </button>
    
    <button ng-model="btn_next_document" id="btn_next_document"  class="btn_suivant"  value="suivant" >
        {% image '@SIECoreBundle/Resources/public/images/droite.jpeg'
       %}
        <img class="img-background-button"    src="{{ asset_url }}"  alt="Suivant"/>
        {% endimage %}
    </button>
    <br/>
    
    
    <button ng-model="btn_valid_modif_document" id="btn_valid_modif_document"  class="btn_suivant"  style="visibility: hidden">
        {% image '@SIECoreBundle/Resources/public/images/btn_valider.jpeg'
       %}
        <img class="img-background-button"   src="{{ asset_url }}"  alt="valider"/>
        {% endimage %}
    </button>
    
    
    <button ng-model="btn_annuler_modif_document" id="btn_annuler_modif_document" class="btn_annuler" style="visibility: hidden">
     {% image '@SIECoreBundle/Resources/public/images/btn_annuler.jpeg'
       %}
        <img class="img-background-button"   src="{{ asset_url }}"  alt="annuler"/>
        {% endimage %}    
    </button>

    <br/>
    <br/>
    <b>Nom :</b>
    <br/><input id="lib_document" type="text" disabled="disabled">
    <br/>
    <br/>
    <!--<b>Lien :</b>-->
    <br/>
    <br/>
    <br/>
    <a id='lien_document' href=''></a>
    <input id="file_document" type="file" disabled="disabled"> 
    <br/>
    <br/>
    <br/>
     
    <input id='id_document' type='hidden'>
    
</div>    