{# SIE/CentralBundle/Resources/views/form/result_equipement.html.twig #}

<div id="bloc_resultat_equipement" class="bloc_resultat_details" ng-controller="result_equipement_controller">
    <b class="titreSection">Equipements</b>
    <p id="lib_central_equipement" class="lib_central"></p>
    <!--Affichage
    <input id="chck_auto_refresh_equipement" type="checkbox"/>-->

  
      <button>
        Tester le réseau
    </button>
    
    <br/>
    <br/>
    <!--<input id="btn_last_equipement" type="button" value="prec"/>-->
    <button ng-model="btn_ajout_equipement" id="btn_ajout_equipement" class="btn_ajout"  >
        {% image '@SIECoreBundle/Resources/public/images/btn_ajout.jpeg'
        %}
        <img  class="img-background-button"    src="{{ asset_url }}"  alt="AJout"/>
        {% endimage %}
    </button>
   
    {#<button ng-model="btn_sup_equipement" id="btn_sup_equipement" class="btn_sup"  >
        {% image '@SIECoreBundle/Resources/public/images/btn_supr.png'
        %}
        <img  class="img-background-button"    src="{{ asset_url }}"  alt="Supr"/>
        {% endimage %}
    </button>
    #}
    <br/>
    {#
    <button ng-model="btn_last_equipement" id="btn_last_equipement" class="btn_precedent" >
        {% image '@SIECoreBundle/Resources/public/images/btn_gauche.jpeg'
        %}
        <img  class="img-background-button"    src="{{ asset_url }}"  alt="Precedent"/>
        {% endimage %}       
    </button>
    #}

    <button ng-model="btn_modif_equipement" id="btn_modif_equipement" class="btn_modifier"  >
        {% image '@SIECoreBundle/Resources/public/images/btn_modif.jpeg'
        %}
        <img  class="img-background-button"    src="{{ asset_url }}"  alt="Modif"/>
        {% endimage %}
    </button>
    
    {#
    <button ng-model="btn_next_equipement" id="btn_next_equipement"  class="btn_suivant"  value="suivant" >
        {% image '@SIECoreBundle/Resources/public/images/droite.jpeg'
        %}
        <img class="img-background-button"    src="{{ asset_url }}"  alt="Suivant"/>
        {% endimage %}
    </button> 
    #}
    <br/>
    <button ng-model="btn_valid_modif_equipement" id="btn_valid_modif_equipement"  class="btn_suivant"  value="valider" style="visibility: hidden">
        {% image '@SIECoreBundle/Resources/public/images/btn_valider.jpeg'
        %}
        <img class="img-background-button"   src="{{ asset_url }}"  alt="valider"/>
        {% endimage %}
    </button>


    <button ng-model="btn_annuler_modif_equipement" id="btn_annuler_modif_equipement" class="btn_annuler" style="visibility: hidden">
        {% image '@SIECoreBundle/Resources/public/images/btn_annuler.jpeg'
        %}
        <img class="img-background-button"   src="{{ asset_url }}"  alt="annuler"/>
        {% endimage %}    
    </button>
    <br/>

    <div id='output_resumeResultat'>

    </div>
    <br/>

    <b>Equipement :</b>
    <br/>                     
    <select ng-model="equipement" id="select_equipement"   >
    </select>
    <br/>
    <br/>
    <br/>
    <b>Constructeur :</b>
    <br/>
    <select ng-model="constructeur" id="constructeur" disabled='disabled' >
    </select>

    <br/>
    <b>Type :</b>
    </br>
    <select disabled="disabled" id="type_equipement">
    </select>
     </br>       
    <b>Nom : </b>
    <br/>
    <input ng-model="lib_equipement" id="lib_equipement" type="text" disabled='disabled'>
    <br/>
    {#
    <b>adresse mac : </b><br/>
    <input ng-model="mac_equipement" id="mac_equipement" type="text" disabled='disabled'>
    <br/>#}

    <b>Version : </b><br/>
    <input ng-model="version_equipement" id="version_equipement" type="text" disabled='disabled'>
    <br/>
    
    <b>Numéro de série : </b><br/>
    <input ng-model="num_serie_equipement" id="num_serie_equipement" type="text" disabled='disabled'>
    <br/>

    <input id="id_equipement" type="hidden"/>
</div>



