{% extends 'base.html.twig' %}

{% block body %}
    <h1>Central list</h1>

    <table>
        <thead>
            <tr>
                <th>Libcentral</th>
                <th>Etenduecentral</th>
                <th>Codeanalytique</th>
                <th>Idcentral</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for central in centrals %}
            <tr>
                <td><a href="{{ path('central_show', { 'id': central.idCentral }) }}">{{ central.libCentral }}</a></td>
                <td>{{ central.etendueCentral }}</td>
                <td>{{ central.codeAnalytique }}</td>
                <td>{{ central.idCentral }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('central_show', { 'id': central.idCentral }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('central_edit', { 'id': central.idCentral }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('central_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
