<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app_ref_sie">
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="../script/quadranStyle.css"/>
        <script src="../script/jquery.js" />
        <script src="../script/jquery--ui.js" />
        <script src="../script/formCentral.js"/> -->
        {% stylesheets '@SIECoreBundle/Resources/public/css/quadranStyle.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% stylesheets '@SIECoreBundle/Resources/public/css/jquery-ui.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        {% block javascripts %}
            {% javascripts '@SIECoreBundle/Resources/public/js/angular.js' %}
                {#<script src="{{ asset_url }}"></script#}
            {% endjavascripts %}
             {% javascripts '@SIECoreBundle/Resources/public/js/jquery.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@SIECoreBundle/Resources/public/js/jquery-ui.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@SIECoreBundle/Resources/public/js/app.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@SIECentralBundle/Resources/public/js/app_search_central.js' %}
                {#<script src="{{ asset_url }}"></script>#}
            {% endjavascripts %}
           
            
            {% javascripts '@SIECentralBundle/Resources/public/js/front_page.js' %}
              <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
              
              {% javascripts '@SIEAccessBundle/Resources/public/js/front_result_equipement_access.js' %}
                <script src="{{ asset_url }}"></script>          
            {% endjavascripts %}
              {% javascripts '@SIEDocumentBundle/Resources/public/js/front_result_doc.js' %}
                <script src="{{ asset_url }}"></script>          
            {% endjavascripts %}
              {% javascripts '@SIEEquipementBundle/Resources/public/js/front_result_equipement.js' %}
                <script src="{{ asset_url }}"></script>          
            {% endjavascripts %}
            {% javascripts '@SIECentralBundle/Resources/public/js/front_result_central.js' %}
                <script src="{{ asset_url }}"></script>          
            {% endjavascripts %}
            {% javascripts '@SIECoreBundle/Resources/public/js/front_search.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
          
     
        {% endblock %} 
        <title id="titre">REFERENTIEL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <!-- A CHARGER DEPUIS LA VUE PERE-
                    <li><a href="page_direction_regionales.xhtml">Directions Regionales</a></li>
                    <li><a href="page_central.xhtml">Centrales </a></li>
                    <li><a href="page_equipement.xhtml">Equipements</a></li>-->

                </ul>
            </nav>
        </header>

        <!--<div id='bloc_select_critere'>
              <b class="titreSection">Selection</b>
            <table class='tableSelection' border='1'>
              
            
              <tr>
                <th>1) Direction Regionales</th>
                <th>2) Nom de la centrale</th>
                <th>3) Type de centrale</th>
                  
                  
              </tr>
              <tr><td>
                    <br/>   
                    
                    <br/><input id="check_allDr" type="checkbox"/>Toutes Directions
                    <br/>
                    <br/><input class="dr" value='1' type="checkbox"/>DR NORD
                    <br/><input class="dr" value='2' type="checkbox"/>DR SUD
                    <br/><input class="dr" value='3' type="checkbox"/>DR COOM
                </td>
                <td>
                    <br/>   
                        <br/>
                    <select id="listCentral">                        
                         <option>Choisissez une centrale</option>
                    </select>
                </td>
                <td>
                    <br/>   
                    <br/>
                    <select id="input_type_central">
                        <option>Choisissez un type</option>
                    </select>           
                    <br/>
                </td>
             </tr>
            </table>
        </div>
        -->
        <table >
            <tr>
                <td>
                    {% include "SIECoreBundle:Default:search.html.twig" %}
                </td>
                <td>
                    {% include "SIECentralBundle:form:result.html.twig" %} 
                </td>
                <td>
                    {% include "SIEDocumentBundle:Default:result_document.html.twig" %} 
                </td>
                <td>
                    {% include "SIEEquipementBundle:Default:result_equipement.html.twig" %} 
                </td>
                <td>
                    {% include "SIEAccessBundle:Default:result_access.html.twig" %} 
                </td>
                <a id="lienPDF" href="../form/formCentral.php?pdf=1">Referenciel PDF</a>
            </tr>
        </table>      
                      
    </body>
</html>
